@page "/contact"
@using System.ComponentModel.DataAnnotations
@using System.Net.Mail
@inject NavigationManager navManager
@inject IMailService mailService

<h1 style="font-family: 'Franklin Gothic Medium';" class="text-center">Contact Us</h1>

<div class="container py-5">
    <div class="row">
        <div class="col-xl-5">
            <img class="img-fluid" src="/img/Sanpete Pantry Sign 3.JPG" alt="Contact Us" style="max-height: 85%;"/>
        </div>
        <div class="col-lg">
            <div class="row fs-5">
                <div class="pb-2">
                    A nonprofit food pantry is as strong as the community that holds it up. Together, we can do more than we can do alone. Let's bring our abilities and passions together.
                </div>
                <div>
                    There are many ways to join us and support our mission. Contact us if you have questions or solutions, or click on the links to find out more about <a href="volunteer">Volunteer Opportunities</a>, <a href="donate">Donation Opportunities</a>.
                </div>
            </div>
            <div class="container pt-3">
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="box text-center">
                        <h3 style="font-family: 'Franklin Gothic Medium';">Contact Info</h3>
                        <div style="font-size: 1em;">
                            <div>Phone Number: (435) 462-3006</div>
                            <div>Email: <a href="mailto:contact@sanpetepantry.org">contact@sanpetepantry.org</a></div>
                        </div>
                    </div>
                    <div class="box text-center">
                        <h3 style="font-family: 'Franklin Gothic Medium';">Address</h3>
                        <div style="font-size: 1em;">
                            <div>1080 Blackhawk Boulevard,</div>
                            <div>Mount Pleasant, Utah 84647,</div>
                            <div>United States</div>
                        </div>
                    </div>
                    <div class="box text-center">
                        <h3 style="font-family: 'Franklin Gothic Medium';">Service hours</h3>
                        <div style="font-size: 1em;">
                            <div>
                                Every Wednesday and Thursday from 1 to 3:30 P.M.
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3077.281904479546!2d-111.46990478529513!3d39.53069411697149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874c15293f14f34f%3A0xfc490ba809ab1af1!2s1080%20Blackhawk%20Blvd%2C%20Mt%20Pleasant%2C%20UT%2084647!5e0!3m2!1sen!2sus!4v1647997838249!5m2!1sen!2sus"
                    width="100%" height="400em" style="border:0; margin-top:3em;" allowfullscreen="" loading="lazy">
                </iframe>
            </div>
        </div>
    </div>

    <div class="py-5">
        <h3 style="font-family: 'Gabriola';" class="text-center py-3">Have Questions or Solutions? Let Us Know</h3>
    </div>
  
    @if (DisplayForm) {
        <div class="row">
            <div class="container col col-md-6" style="margin: auto;">
                <EditForm Model=@contactModel OnValidSubmit=@HandleValidSubmit FormName="contactForm">
                    <label style="font-family: 'Franklin Gothic Medium';" class="form-label">Name:</label>
                    <InputText @bind-Value=contactModel.Name class="form-control mb-3" />

                    <label style="font-family: 'Franklin Gothic Medium';" class="form-label">Phone Number:</label>
                    <InputText @bind-Value=contactModel.Phone class="form-control mb-3" />

                    <label style="font-family: 'Franklin Gothic Medium';" class="form-label">Email:</label>
                    <InputText @bind-Value=contactModel.Email class="form-control mb-3" />

                    <label style="font-family: 'Franklin Gothic Medium';" class="form-label">Message:</label>
                    <InputTextArea @bind-Value=contactModel.Message class="form-control mb-3" />

                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-primary btn-lg">Send</button>
                    </div>
                </EditForm>
            </div>
        </div>
    }
    <div>@ErrorMessage</div>
</div>



@code {
    [SupplyParameterFromForm]
    ExampleModel contactModel { get; set; } = new();
    string ErrorMessage = "";
    bool DisplayForm = true;
    public class ExampleModel
    {
        [Required]
        [StringLength(256, ErrorMessage = "Name is too long.")]
        public string? Name { get; set; }
        [Phone]
        public string? Phone{get;set;}
        [EmailAddress]
        public string? Email{get;set;}
        [StringLength(2048,ErrorMessage ="Please limit your comments to 2,048 characters")]
        public string? Message{get;set;}
    }

    private async Task HandleValidSubmit()
    {
        ErrorMessage = "Sending Message...";
        string body = $"Contact Name: {contactModel.Name}<br /> Contact Phone Number: {contactModel.Phone}<br /> Contact Email: {contactModel.Email}<br /><br />{contactModel.Message}";
        try
        {
            await mailService.SendMessageAsync(
                "contact@sanpetepantry.org",
                "contact@sanpetepantry.org",
                "Contact Page: Email from website",
                body,
                (msg) => ErrorMessage+=msg
            );

            ErrorMessage = "Message sent!";
            DisplayForm=false;
        }
        catch (Exception e){
            ErrorMessage = e.Message;
        }
        navManager.NavigateTo("thankyou");
    }
}
