@page "/contact"
@using System.ComponentModel.DataAnnotations
@inject NavigationManager navManager

<h1 style="font-family: 'Franklin Gothic Medium';" class="text-center">Contact Us</h1>

<div class="container py-5">
    <div class="row">
        <div class="col-5">
            <img src="/img/ContactUs.webp" alt="Contact Us" width=100% />
        </div>
        <div class="col-1"></div>
        <div class="col">
            <div class="row">
                <h2 style="font-family: 'Franklin Gothic Medium';" class="text-center">We Want To Hear From You</h2>
            </div>
            <div class="row">
                <div>
                    A nonprofit food pantry is as strong as the community that holds it up. Together, we can do more than we can do alone. 
                    Let's bring our abilities and passions together.
                </div>
                <br />
                <div>
                    There are many ways to join us and support our mission. 
                    Contact us if you have questions or solutions, or click on the links to find out more about <a href="">Volunteer Opportunities</a>, 
                    <a href="">Donation Opportunities</a>.
                </div> 
            </div>
            <div class="container pt-3">
                <div class="d-flex justify-content-between">
                    <div>
                        <h3 style="font-family: 'Franklin Gothic Medium';">Contact Info</h3>
                        <div>
                            <div>Phone Number: (435) 462-3006</div>
                            <div>Email: support@sanpetepantry.org</div>                            
                        </div>
                    </div>
                    <div>
                        <h3 style="font-family: 'Franklin Gothic Medium';">Address</h3>
                        <div>
                            <div>1080 Blackhawk Boulevard,</div>
                            <div>Mount Pleasant, Utah 84647,</div>
                            <div>United States</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container w-50" style="margin: auto;">
            <h3 style="font-family: Gabriola;" class="fw-bold text-center py-5">Have Questions or Solutions Let Us Know</h3>
            <EditForm Model=@contactModel OnValidSubmit=@HandleValidSubmit>

                <label style="font-family: 'Franklin Gothic Medium';" class="form-label">Name:</label>
                <InputText @bind-Value=contactModel.Name class="form-control mb-3" />

                <label style="font-family: 'Franklin Gothic Medium';" class="form-label">Phone Number:</label>
                <InputText @bind-Value=contactModel.Phone class="form-control mb-3" />

                <label style="font-family: 'Franklin Gothic Medium';" class="form-label">Email:</label>
                <InputText @bind-Value=contactModel.Email class="form-control mb-3" />

                <label style="font-family: 'Franklin Gothic Medium';" class="form-label">Message:</label>
                <InputTextArea @bind-Value=contactModel.Message class="form-control mb-3" />

                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>


@code {
    ExampleModel contactModel = new();

    public class ExampleModel
    {
        [Required]
        [StringLength(256, ErrorMessage = "Name is too long.")]
        public string Name { get; set; }
        [Phone]
        public string Phone{get;set;}
        [EmailAddress]
        public string Email{get;set;}
        [StringLength(2048,ErrorMessage ="Please limit your comments to 2,048 characters")]
        public string Message{get;set;}
    }

    private void HandleValidSubmit()
    {
        Email.DefaultSender = new SmtpSender();
        var template = "Contact Name: @Model.Name, Contact Phone Number: @Model.Phone, Contact Email: @Model.Email" + System.Environment.NewLine + "@Model.Message";

        var email = Email
            .From(contactModel.Email, contactModel.Name)
            .To("mrtannertrimble@gmail.com", "Sanpete Pantry")
            .Subject("Contact Us Email")
            .UsingTemplate(template, new { Name = contactModel.Name, Phone = contactModel.Phone, Email = contactModel.Email, Message = contactModel.Message});

        try
        {
            email.Send();
            navManager.NavigateTo("/contact");
        }
        catch(Exception e)
        {
            Console.WriteLine(e);
        }
    }
}
