@page "/contact"
@using System.ComponentModel.DataAnnotations
@using System.Net.Mail
@inject NavigationManager navManager
@inject IMailService mailService

<h1 style="font-family: 'Franklin Gothic Medium';" class="text-center">Contact Us</h1>

<div class="py-5">
    <h2 style="font-family: 'Gabriola';" class="text-center">We Want To Hear From You</h2>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-xl-5">
            <img class="img-fluid" src="/img/ContactUs.webp" alt="Contact Us" />
        </div>
        <div class="col-lg">
            <div class="row fs-5">
                <div class="pb-2">
                    A nonprofit food pantry is as strong as the community that holds it up. Together, we can do more than we can do alone.
                    Let's bring our abilities and passions together.
                </div>
                <div>
                    There are many ways to join us and support our mission.
                    Contact us if you have questions or solutions, or click on the links to find out more about <a href="https://sanpetepantry.org/volunteer">Volunteer Opportunities</a>,
                    <a href="https://sanpetepantry.org/donate">Donation Opportunities</a>.
                </div>
            </div>
            <div class="container pt-3">
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="text-center">
                        <h3 style="font-family: 'Franklin Gothic Medium';">Contact Info</h3>
                        <div>
                            <div>Phone Number: (435) 462-3006</div>
                            <div>Email: <a href="mailto:contact@sanpetepantry.org">contact@sanpetepantry.org</a></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h3 style="font-family: 'Franklin Gothic Medium';">Address</h3>
                        <div>
                            <div>1080 Blackhawk Boulevard,</div>
                            <div>Mount Pleasant, Utah 84647,</div>
                            <div>United States</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5">
        <h3 style="font-family: Gabriola;" class="text-center py-3">Have Questions or Solutions Let Us Know</h3>
    </div>
    @if (DisplayForm){

    <div class="row">
        <div class="container col col-md-6" style="margin: auto;">
            <EditForm method="post" Enhance Model=@contactModel OnValidSubmit=@HandleValidSubmit FormName="contactForm">

                <label style="font-family: 'Franklin Gothic Medium';" class="form-label">Name:</label>
                <InputText @bind-Value=contactModel.Name class="form-control mb-3" />

                <label style="font-family: 'Franklin Gothic Medium';" class="form-label">Phone Number:</label>
                <InputText @bind-Value=contactModel.Phone class="form-control mb-3" />

                <label style="font-family: 'Franklin Gothic Medium';" class="form-label">Email:</label>
                <InputText @bind-Value=contactModel.Email class="form-control mb-3" />

                <label style="font-family: 'Franklin Gothic Medium';" class="form-label">Message:</label>
                <InputTextArea @bind-Value=contactModel.Message class="form-control mb-3" />

                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-primary btn-lg">Send</button>
                </div>
            </EditForm>
        </div>
    </div>
    }
    <div>@ErrorMessage</div>
</div>


@code {
    [SupplyParameterFromForm]
    ExampleModel contactModel { get; set; } = new();
    string ErrorMessage = "";
    bool DisplayForm = true;
    public class ExampleModel
    {
        [Required]
        [StringLength(256, ErrorMessage = "Name is too long.")]
        public string? Name { get; set; }
        [Phone]
        public string? Phone{get;set;}
        [EmailAddress]
        public string? Email{get;set;}
        [StringLength(2048,ErrorMessage ="Please limit your comments to 2,048 characters")]
        public string? Message{get;set;}
    }

    private async Task HandleValidSubmit()
    {
        ErrorMessage = "Sending Message...";
        string body = $"Contact Name: {contactModel.Name}<br /> Contact Phone Number: {contactModel.Phone}<br /> Contact Email: {contactModel.Email}<br /><br />{contactModel.Message}";
        try
        {
            await mailService.SendMessageAsync(
                "contact@sanpetepantry.org",
                "contact@sanpetepantry.org",
                "Contact Page: Email from website",
                body,
                (msg) => ErrorMessage+=msg
            );

            ErrorMessage = "Message sent!";
            DisplayForm=false;
        }
        catch (Exception e){
            ErrorMessage = e.Message;
        }
        navManager.NavigateTo("thankyou");
    }
}
