@page "/donate"

<h1 style="font-family: 'Franklin Gothic Medium';" class="fw-bold text-center" >Donate</h1>

<h2 style="font-family: Gabriola;" class="text-center">We Need Your Support</h2>

<div style="margin: auto;" class="container mt-5">
    <div class="row">
        <div style="border-right-style: solid; border-width: 1px;" class="col-lg-4 d-flex justify-content-center">
            <div>
                <div class="row navbar-nav navbar-light">
                    <a target="_blank" class="navbar-brand" href="https://sanpetepantry.app.neoncrm.com/forms/9"><h3 style="font-family: 'Franklin Gothic Medium';" class="text-center fw-bold">Donate by Credit Card</h3></a>
                </div>
                <div class="row py-5">
                    <div class="d-flex align-items-center justify-content-center">
                        <a class="navlink" href="https://sanpetepantry.app.neoncrm.com/forms/9"><img alt="Visa" src="/img/payment.svg" width="75" /></a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <a target="_blank" class="navlink" href="https://sanpetepantry.app.neoncrm.com/forms/9"><img alt="Visa" src="/img/master-card.svg" width="75" /></a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <a target="_blank" class="navlink" href="https://sanpetepantry.app.neoncrm.com/forms/9"><img alt="Visa" src="/img/american-express.svg" width="75" /></a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <a target="_blank" class="navlink" href="https://sanpetepantry.app.neoncrm.com/forms/9"><img alt="Visa" src="/img/discovery.svg" width="75" /></a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <a target="_blank" class="navlink" href="https://sanpetepantry.app.neoncrm.com/forms/9"><img alt="Visa" src="/img/google-pay.svg" width="75" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
            <div>
                <div class="row navbar-nav navbar-light">
                    <a target="_blank" href="https://account.venmo.com/u/Sanpete-Pantry" class="navbar-brand" ><h3 style="font-family: 'Franklin Gothic Medium';" class="fw-bold">Donate by Venmo</h3></a>
                </div>
                <div class="row">
                    <div class="py-5">
                        <a target="_blank" href="https://account.venmo.com/u/Sanpete-Pantry" ><img src="/img/VenmoQR.png" alt="Venmo QR Code" width="240" height="290"/></a>
                    </div>                
                </div>
            </div>
        </div>
        <div style="border-left-style: solid; border-width: 1px;" class="col-lg-4 d-flex justify-content-center">
            <div>
                <div class="row">
                    <h3 style="font-family: 'Franklin Gothic Medium';" class=" text-center fw-bold">Send Us A Check</h3>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center p-5">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3077.281904479546!2d-111.46990478529513!3d39.53069411697149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874c15293f14f34f%3A0xfc490ba809ab1af1!2s1080%20Blackhawk%20Blvd%2C%20Mt%20Pleasant%2C%20UT%2084647!5e0!3m2!1sen!2sus!4v1647997838249!5m2!1sen!2sus" 
                            width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div style="margin: auto;" class="container w-75">
                        <div>
                            <div>1080 Blackhawk Boulevard,</div>
                            <div>Mount Pleasant, Utah 84647,</div>
                            <div>United States</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
