@page "/donate"

<h1 style="font-family: 'Franklin Gothic Medium';" class="fw-bold text-center" >Donate</h1>

<h2 style="font-family: Gabriola;" class="fw-bold text-center">We Need Your Support</h2>

<div style="margin: auto;" class="container mt-5">
    <div class="row">
        <div class="col-4 d-flex justify-content-center border-end">
            <div>
                <div class="row">
                    <h3 style="font-family: 'Franklin Gothic Medium';" class="fw-bold">Donate by Credit Card</h3>
                </div>
                <div class="row">
                    <a class="navlink" href="https://sanpetepantry.app.neoncrm.com/forms/donations">Credit Card Donation System - Click Here</a>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <div>
                <div class="row">
                    <h3 style="font-family: 'Franklin Gothic Medium';" class="fw-bold">Donate by Venmo</h3>
                </div>
                <div class="row">
                    <div class="py-5">
                        <img src="/img/VenmoQR.png" alt="Venmo QR Code" width="240" height="290"/>
                    </div>                
                </div>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center border-start">
            <div>
                <div class="row">
                    <h3 style="font-family: 'Franklin Gothic Medium';" class="fw-bold">Send Us A Check</h3>
                </div>
                <div class="row">
                    <div>
                        <div>1080 Blackhawk Boulevard,</div>
                        <div>Mount Pleasant, Utah 84647,</div>
                        <div>United States</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
