@page "/"

<h1>No hunger in Sanpete County, Utah</h1>
<h5>It's our main mission and we're working hard to achieve it, with GitHub Actions!</h5>

<NavLink class="nav-link" href="our-services">
    <span class="oi oi-plus" aria-hidden="true"></span> Our Services
</NavLink>


<h5>We are Sanpete County's Food Pantry</h5>
<WhoWeAre />
