@page "/our-services"
<h1 style="font-family: 'Franklin Gothic Medium';" class="text-center fw-bold">Our Services</h1>

<h2 class="text-center pt-5" style="font-family: Gabriola;">We Provide a Number of Services to the Communities We Serve</h2>

<div class="container">
    <div class="py-5">
        <h3 style="font-family: 'Franklin Gothic Medium';" class="fw-bold">You Can Come To Us</h3>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
            </div>
            <div class="row">
                <h3 style="font-family: Gabriola;">We are open for you to pick up food:</h3>
                <table class="table border">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th style="width: 150px;">Hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sunday</td>
                            <td>Closed</td>
                        </tr>
                        <tr>
                            <td>Monday</td>
                            <td>Closed</td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td>Closed</td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td>1:00pm - 3:30pm</td>
                        </tr>
                        <tr>
                            <td>Thursday</td>
                            <td>1:00pm - 3:30pm</td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>Closed</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>Closed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-lg-7">
            <img src="/img/ComeToUs.webp" alt="Come To Us" width=100% />
        </div>
    </div>
</div>


<div class="container">
    <div class="py-5">
        <h3 style="font-family: 'Franklin Gothic Medium';" class="fw-bold">We Come To You</h3>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img src="/img/WeComeToYou.webp" alt="We Come To You" width=100% />
        </div>
        <div class="col-lg">
            <div class="row">
                <ul class="px-5">
                    <li>
                        We perform Mobile Food drops all over Sanpete County. Follow us on <a href="https://www.facebook.com/SanpetePantry/">Facebook</a> to get news on when and where our
                        next Mobile Food drop will happen.
                    </li>
                    <li>
                        Ephraim - Snow College "Buster's Pantry" provides a local service for Snow College Students
                    </li>
                    <li>
                        Gunnison - Third-Tuesday of each month. 80 W Center Street, Church Parking Lot
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="py-5">
        <h3 style="font-family: 'Franklin Gothic Medium';" class="fw-bold">Kid Packs</h3>
    </div>
    <div class="row">
        <div class="col-lg">

        </div>
        <div class="col-lg">
            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FSanpetePantry%2Fvideos%2F1423700497962197%2F&show_text=false&width=560&t=0"
                width="625" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
                allowFullScreen="true"></iframe>
        </div>
    </div>
</div>


<div class="container">
    <div class="py-5">
        <h3 style="font-family: 'Franklin Gothic Medium';" class="fw-bold">Education</h3>
    </div>
    <div class="row">
        <div>
            We partner with the Snow College Home and Family Studies department to provide free community courses on topics 
            related to family finances, resume writing, networking, interviewing, gardening, marriage, etc. Please see the 
            Snow College Community Education website for more information: <a href="https://www.snow.edu/community/communityed/">https://www.snow.edu/community/communityed/</a>
        </div>
    </div>
</div>


@code {

}
