@page "/our-services"
<h1 style="font-family: 'Franklin Gothic Medium';" class="text-center fw-bold">Our Services</h1>

<h2 class="text-center pt-5" style="font-family: Gabriola;">We Provide a Number of Services to the Communities We Serve</h2>

<div class="container">
    <div class="py-5">
        <h3 style="font-family: 'Franklin Gothic Medium';" class="fw-bold">You Can Come To Us</h3>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="row">
            </div>
            <div class="row">
                <h3 style="font-family: Gabriola;">We are open for you to pick up food:</h3>
                <table class="table border">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th style="width: 150px;">Hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sunday</td>
                            <td>Closed</td>
                        </tr>
                        <tr>
                            <td>Monday</td>
                            <td>Closed</td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td>Closed</td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td>1:00pm - 3:30pm</td>
                        </tr>
                        <tr>
                            <td>Thursday</td>
                            <td>1:00pm - 3:30pm</td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>Closed</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>Closed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col"></div>
        <div class="col-lg-6">
            <div class="py-4">
                <img class="img-fluid" src="/img/ServicesPicture.jpg" alt="Services Picture"/>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="py-5">
        <h3 style="font-family: 'Franklin Gothic Medium';" class="fw-bold">We Come To You</h3>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <img class="img-fluid" src="/img/FoodDrop.jpg" alt="Food Drop Picture" />
        </div>
        <div class="col-lg">
            <div class="row">
                <div class="fs-5">
                    <div class="p-2">
                        We perform Mobile Food drops all over Sanpete County. Follow us on <a target="_blank" href="https://www.facebook.com/SanpetePantry/">Facebook</a> to get news on when and where our
                        next Mobile Food drop will happen.
                    </div>
                    <div class="p-2">
                        Ephraim - Teachers Parking Lot at Snow College
                    </div>
                    <div class="p-2">
                        Gunnison - At the Old Fire Station
                    </div>
                    <div class="p-2">
                        Fountain Green - At the Fire Station
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="py-5">
        <h3 style="font-family: 'Franklin Gothic Medium';" class="fw-bold">Kid Packs</h3>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="fs-5">
                <div class="fst-italic">"We don't want anyone in Sanpete County or anywhere in the state of Utah, especially our children, to go hungry. That is why we do this." </div>
                <br />
                Our Kid Pack program has the goal to make sure that every child gets enough food to last the weekend when they can't rely on school lunches.

            </div>
        </div>
        <div class="col-xl">
            <div class="d-flex justify-content-center">
                <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FSanpetePantry%2Fvideos%2F1423700497962197%2F&show_text=false&width=500&t=0"
                    width="500" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
                    allowFullScreen="true"></iframe>
            </div>
            
        </div>
    </div>
</div>


<div class="container">
    <div class="py-5">
        <h3 style="font-family: 'Franklin Gothic Medium';" class="fw-bold">Education</h3>
    </div>
    <div class="row">
        <div class="fs-5">
            We partner with the Snow College Home and Family Studies department to provide free community courses on topics 
            related to family finances, resume writing, networking, interviewing, gardening, marriage, etc. Please see the 
            Snow College Community Education website for more information: <a href="https://www.snow.edu/community/communityed/">https://www.snow.edu/community/communityed/</a>
        </div>
    </div>
</div>


@code {

}
