@page "/thankyou"

<h1 style="font-family: 'Franklin Gothic Medium';" class="text-center">Thank You!</h1>

<h2 style="font-family: Gabriola;" class="text-center py-5">We are very thankful that you took the time to get into contact with us.</h2>