<nav class="navbar-layout">
    <div>
        <a class="nav-link" href=""> <img src="/img/AppleLogo_Portrait.png" alt="Logo and Name"></a>
    </div>
    <div>
        <a class="nav-link" href="our-services"> Our Services </a>
    </div>
    <div>
        <a class="nav-link" href="events">Events</a>
    </div>
    <div>
        <a class="nav-link" href="volunteer"> Volunteer </a>
    </div>
    <div class="nav-link" id="dropdown">
        Partnerships
        <i class="fa fa-caret-down"></i>
        <div class="dropdown-content">
            <a class="nav-link" href="2023GalaSponsors">2023 Gala</a>
            <a class="nav-link" href="2024AuctionPartners">2024 Auction Partners</a>
            <a class="nav-link" href="FoundationsAndCompanies">Foundations and Companies</a>
        </div>
    </div>
    <div>
        <a class="nav-link" href="testimonies">Our stories</a>
    </div> 
    <div>
        <a class="nav-link" href="contact"> Contact Us </a>
    </div>
    <div>
        <a class="nav-link" href="donate" id="donate-btn"> Donate </a>
    </div>
</nav>
