<h2>Who We Are</h2>

@code {

}

<div class="grid">
    <div class="row">
        <div class="col-4">
            <img src="img/TeamAndVolunteers.webp" width=100% />
        </div>
        <div class="col-1"></div>
        <div class="col-6">
            <div>
                <h4 class="fw-bold">Our Misson Statement</h4>
            </div>    
            <p>
                "Sanpete Pantry is dedicated to helping those who are struggling financially in Sanpete County by providing the opportunity
                to obtain food and other resources at no cost to them with dignity and respect while involving the community in a way that 
                inspires them to serve their neighbors with empathy, respect, and compassion." Our food pantry is your food pantry. 
                Our community charitable organization is here to serve all of us in Sanpete County, Utah.
            </p>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-5">
            <p>
                
            </p>
        </div>
        <div class="col-2"></div>
        <div class="col-5">

        </div>
    </div>
</div>